body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }

  .container {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .image1 {
    width: 100%;
    height: auto;
    display: block;
  }

  .video {
    width: 100%;
    height: auto;
    display: block;
  }

  .image2 {
    width: 100%;
    height: auto;
    display: block;
  }

  .button {
    position: absolute;
    bottom: 8.2%;
    left: 35%;
    background-color: #8ddf9f;
    color: #1a1b1a;
    padding: 2px 30px;
    box-shadow: 0 2px 2px rgba(146, 90, 90, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }